* {
    margin: 0;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 1000px;
}

/* Start of Header and Navigation */

header {
    width: 100%;
    height: 500px;
    background-color: #1f2937;
    
}

.navigation {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    
}



ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-right: 50px;
    
}

ul li {
    list-style-type: none;
    text-decoration: none;
    
}


ul li a {
    color: white;
    text-decoration-line: none;
    ;
}



.list-item:first-child {
    margin-right: 275px;
    font-size: 24px;
    color: #f9faf8;
}


/* End of Header and Navigation */


/* Beginning of the Main Section */

.main {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.main-text {
    max-width: 50%;
    padding: 50px;
}

.main-text h2 {
    font-size: 48px;
    color: #f9faf8;
}


.main-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.main-text button {
    width: 120px;
    height: 30px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
}

.image {
    max-width: 50%;
}

/* Main section End */


/* Beginning of second section */

.section-two-text {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    margin: 50px 0px;
}

 .section-two {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 160px;
    padding-top: 25px;
 }

 .box1, .box2, .box3, .box4 {
    width: 170px;
    height: 140px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    
 }

 .section-two-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
 }
 

 .section-two-paragraph {
    width: 180px;
    text-align: center;
 }

 /* End of second section */

/* Beginning of section three */

 .section-three {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background-color: #e5e7eb;
    font-size: 36px;
    
    color: #1f2937;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
 }

 .section-three p {
    display: flex;
    text-align: center;
    font-style: light italic;
    width: 70%;
}


.section-three h5 {
    
    width: 80%;
    text-align: right;
}

/* End of Section three */

 